<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="correoEmisor" value="amilcar.huaman@outlook.com" />
    <add key="asunto" value="Se envía el comprobante electrónico: {0} {1}"/>
    <add key="puerto" value="587"/>
    <add key="host" value="smtp.live.com"/>
    <add key="usuario" value="amilcar.huaman@outlook.com" />
    <add key ="clave" value="*********" />
  </appSettings>
  <connectionStrings>
    <add name="cnx" connectionString="server=(local);database=FacturacionElectronicaDB;uid=sa;pwd=123456"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>