if exists(select * from sys.databases where name='FacturacionElectronicaDB') BEGIN
  DROP DATABASE FacturacionElectronicaDB
END
GO
CREATE DATABASE FacturacionElectronicaDB
GO
USE FacturacionElectronicaDB

CREATE TABLE [dbo].[CatalogoErrorSunat](
	[IdCatalogo] [bigint] IDENTITY(1,1) NOT NULL,
	[codigoRespuesta] [varchar](50) NULL,
	[Descripcion] [varchar](1000) NULL,
	[Reintentar] [int] NULL,
 CONSTRAINT [PK_CatalogoErrorSunat] PRIMARY KEY CLUSTERED 
(
	[IdCatalogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CDRSunatPendiente]    Script Date: 31/01/2019 00:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CDRSunatPendiente](
	[IdComprobante] [bigint] NOT NULL,
	[Archivo] [varbinary](max) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CDRSunatProcesado]    Script Date: 31/01/2019 00:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CDRSunatProcesado](
	[IdArchivo] [bigint] IDENTITY(1,1) NOT NULL,
	[Archivo] [varbinary](max) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_CDRSunat] PRIMARY KEY CLUSTERED 
(
	[IdArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comprobante]    Script Date: 31/01/2019 00:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobante](
	[IdComprobante] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[TipoDocumentoIdentidad] [varchar](2) NOT NULL,
	[NroDocumentoIdentidad] [varchar](30) NOT NULL,
	[RazonSocial] [varchar](500) NOT NULL,
	[TipoComprobante] [varchar](2) NOT NULL,
	[SerieNumero] [varchar](13) NOT NULL,
	[FechaEmison] [varchar](10) NOT NULL,
	[CorreoElectronico] [varchar](500) NULL,
	[TotalImpuesto] [decimal](12, 2) NOT NULL,
	[TotalValorVenta] [decimal](12, 2) NOT NULL,
	[TotalPrecioVenta] [decimal](12, 2) NOT NULL,
	[TotalDescuento] [decimal](12, 2) NOT NULL,
	[TotalCargo] [decimal](12, 2) NOT NULL,
	[ImporteTotal] [decimal](12, 2) NOT NULL,
	[FechaVencimiento] [varchar](50) NOT NULL,
	[HoraEmision] [varchar](8) NOT NULL,
	[Moneda] [varchar](5) NOT NULL,
	[TipoOperacion] [varchar](4) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_Comprobante] PRIMARY KEY CLUSTERED 
(
	[IdComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteDocumento]    Script Date: 31/01/2019 00:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteDocumento](
	[IdComprobante] [bigint] NOT NULL,
	[NombreXML] [varchar](50) NOT NULL,
	[ArchivoXML] [varbinary](max) NOT NULL,
	[CodigoHash] [varchar](max) NOT NULL,
	[CodigoQR] [varchar](max) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteMontos]    Script Date: 31/01/2019 00:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteMontos](
	[IdComprobante] [bigint] NOT NULL,
	[CodigoTributo] [varchar](4) NOT NULL,
	[MontoOperaciones] [decimal](12, 2) NOT NULL,
	[MontoTotalImpuesto] [decimal](12, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteReferenciaNota]    Script Date: 31/01/2019 00:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteReferenciaNota](
	[IdComprobante] [bigint] NOT NULL,
	[SerieNumero] [varchar](30) NOT NULL,
	[TipoComprobante] [varchar](2) NOT NULL,
	[FechaEmision] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteRespuesta]    Script Date: 31/01/2019 00:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteRespuesta](
	[IdComprobante] [bigint] NOT NULL,
	[IdCatalogo] [bigint] NOT NULL,
	[DescripcionSUNAT] [varchar](max) NOT NULL,
	[IdTipoRespuesta] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaSUNAT] [varchar](20) NULL,
	[HoraSUNAT] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteRespuestaHistorial]    Script Date: 31/01/2019 00:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteRespuestaHistorial](
	[IdComprobante] [bigint] NOT NULL,
	[IdArchivo] [bigint] NOT NULL,
	[IdCatalogo] [bigint] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaRespuestaSunat] [varchar](20) NOT NULL,
	[HoraRespuestaSunat] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteSustentoNota]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteSustentoNota](
	[IdComprobante] [bigint] NOT NULL,
	[SerieNumero] [varchar](30) NOT NULL,
	[CodigoAnulacion] [varchar](10) NOT NULL,
	[MotivoAnulacion] [varchar](500) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuracion]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuracion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Servicio] [varchar](50) NULL,
	[Codigo] [varchar](10) NULL,
	[Valor] [varchar](500) NULL,
 CONSTRAINT [PK_Configuracion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumentoIdentidad] [varchar](2) NULL,
	[NumeroDocumentoIdentidad] [varchar](20) NULL,
	[RazonSocial] [varchar](1500) NOT NULL,
	[NombreComercial] [varchar](1500) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
	[Departamento] [varchar](30) NOT NULL,
	[Provincia] [varchar](30) NOT NULL,
	[Distrito] [varchar](30) NOT NULL,
	[Urbanizacion] [varchar](25) NULL,
	[CodigoUbigeo] [varchar](6) NOT NULL,
	[PaginaWeb] [varchar](200) NOT NULL,
	[CodigoDomicilioFiscal] [varchar](4) NULL,
	[CodigoPais] [varchar](2) NULL,
	[ContactoNombre] [varchar](100) NULL,
	[ContactoCorreo] [varchar](100) NULL,
	[ContactoTelefono] [varchar](100) NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoja1$]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoja1$](
	[Codigo] [nvarchar](255) NULL,
	[Mensaje] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PendienteEnvio]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendienteEnvio](
	[IdComprobante] [bigint] NOT NULL,
	[Estado] [int] NOT NULL,
	[Prioridad] [int] NOT NULL,
	[TipoDocumento] [varchar](2) NOT NULL,
	[FechaRegistro] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepresentacionImpresa]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepresentacionImpresa](
	[IdComprobante] [bigint] NOT NULL,
	[NombreRepresentacionImpresa] [varchar](50) NOT NULL,
	[Archivo] [varbinary](max) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoRespuesta]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoRespuesta](
	[IdTipoRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoRespuesta] PRIMARY KEY CLUSTERED 
(
	[IdTipoRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CatalogoErrorSunat] ON 

INSERT [dbo].[CatalogoErrorSunat] ([IdCatalogo], [codigoRespuesta], [Descripcion], [Reintentar]) VALUES (1, N'0', N'Aceptado', 0)
INSERT [dbo].[CatalogoErrorSunat] ([IdCatalogo], [codigoRespuesta], [Descripcion], [Reintentar]) VALUES (2, N'0100', N'El sistema no puede responder su solicitud. Intente nuevamente o comuníquese con su Administrador', 0)
INSERT [dbo].[CatalogoErrorSunat] ([IdCatalogo], [codigoRespuesta], [Descripcion], [Reintentar]) VALUES (3, N'0101', N'El encabezado de seguridad es incorrecto', 0)
GO
SET IDENTITY_INSERT [dbo].[CatalogoErrorSunat] OFF
SET IDENTITY_INSERT [dbo].[Configuracion] ON 

INSERT [dbo].[Configuracion] ([Id], [Servicio], [Codigo], [Valor]) VALUES (1, N'SWINSE', N'TempCDR', N'C:\Facturacion\Temporales\CDR')
INSERT [dbo].[Configuracion] ([Id], [Servicio], [Codigo], [Valor]) VALUES (2, N'SWINEC', N'TempENVIO', N'C:\Facturacion\Temporales\XML')
SET IDENTITY_INSERT [dbo].[Configuracion] OFF
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([IdEmpresa], [TipoDocumentoIdentidad], [NumeroDocumentoIdentidad], [RazonSocial], [NombreComercial], [Direccion], [Departamento], [Provincia], [Distrito], [Urbanizacion], [CodigoUbigeo], [PaginaWeb], [CodigoDomicilioFiscal], [CodigoPais], [ContactoNombre], [ContactoCorreo], [ContactoTelefono]) VALUES (4, N'6', N'20112811096', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Empresa] OFF
SET IDENTITY_INSERT [dbo].[TipoRespuesta] ON 

INSERT [dbo].[TipoRespuesta] ([IdTipoRespuesta], [Codigo], [Descripcion]) VALUES (1, 0, N'Aceptado')
INSERT [dbo].[TipoRespuesta] ([IdTipoRespuesta], [Codigo], [Descripcion]) VALUES (2, 1, N'Rechazado')
INSERT [dbo].[TipoRespuesta] ([IdTipoRespuesta], [Codigo], [Descripcion]) VALUES (3, 2, N'Excepcion')
SET IDENTITY_INSERT [dbo].[TipoRespuesta] OFF
ALTER TABLE [dbo].[CDRSunatPendiente]  WITH CHECK ADD  CONSTRAINT [FK_CDRSunatPendiente_Comprobante] FOREIGN KEY([IdComprobante])
REFERENCES [dbo].[Comprobante] ([IdComprobante])
GO
ALTER TABLE [dbo].[CDRSunatPendiente] CHECK CONSTRAINT [FK_CDRSunatPendiente_Comprobante]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Comprobante_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FK_Comprobante_Empresa]
GO
ALTER TABLE [dbo].[ComprobanteDocumento]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteDocumento_Comprobante] FOREIGN KEY([IdComprobante])
REFERENCES [dbo].[Comprobante] ([IdComprobante])
GO
ALTER TABLE [dbo].[ComprobanteDocumento] CHECK CONSTRAINT [FK_ComprobanteDocumento_Comprobante]
GO
ALTER TABLE [dbo].[ComprobanteMontos]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteMontos_Comprobante] FOREIGN KEY([IdComprobante])
REFERENCES [dbo].[Comprobante] ([IdComprobante])
GO
ALTER TABLE [dbo].[ComprobanteMontos] CHECK CONSTRAINT [FK_ComprobanteMontos_Comprobante]
GO
ALTER TABLE [dbo].[ComprobanteReferenciaNota]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteReferenciaNota_Comprobante] FOREIGN KEY([IdComprobante])
REFERENCES [dbo].[Comprobante] ([IdComprobante])
GO
ALTER TABLE [dbo].[ComprobanteReferenciaNota] CHECK CONSTRAINT [FK_ComprobanteReferenciaNota_Comprobante]
GO
ALTER TABLE [dbo].[ComprobanteRespuesta]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteRespuesta_CatalogoErrorSunat] FOREIGN KEY([IdCatalogo])
REFERENCES [dbo].[CatalogoErrorSunat] ([IdCatalogo])
GO
ALTER TABLE [dbo].[ComprobanteRespuesta] CHECK CONSTRAINT [FK_ComprobanteRespuesta_CatalogoErrorSunat]
GO
ALTER TABLE [dbo].[ComprobanteRespuesta]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteRespuesta_Comprobante] FOREIGN KEY([IdComprobante])
REFERENCES [dbo].[Comprobante] ([IdComprobante])
GO
ALTER TABLE [dbo].[ComprobanteRespuesta] CHECK CONSTRAINT [FK_ComprobanteRespuesta_Comprobante]
GO
ALTER TABLE [dbo].[ComprobanteRespuesta]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteRespuesta_TipoRespuesta] FOREIGN KEY([IdTipoRespuesta])
REFERENCES [dbo].[TipoRespuesta] ([IdTipoRespuesta])
GO
ALTER TABLE [dbo].[ComprobanteRespuesta] CHECK CONSTRAINT [FK_ComprobanteRespuesta_TipoRespuesta]
GO
ALTER TABLE [dbo].[ComprobanteRespuestaHistorial]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteRespuestaHistorial_CatalogoErrorSunat] FOREIGN KEY([IdCatalogo])
REFERENCES [dbo].[CatalogoErrorSunat] ([IdCatalogo])
GO
ALTER TABLE [dbo].[ComprobanteRespuestaHistorial] CHECK CONSTRAINT [FK_ComprobanteRespuestaHistorial_CatalogoErrorSunat]
GO
ALTER TABLE [dbo].[ComprobanteRespuestaHistorial]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteRespuestaHistorial_CDRSunatProcesado] FOREIGN KEY([IdArchivo])
REFERENCES [dbo].[CDRSunatProcesado] ([IdArchivo])
GO
ALTER TABLE [dbo].[ComprobanteRespuestaHistorial] CHECK CONSTRAINT [FK_ComprobanteRespuestaHistorial_CDRSunatProcesado]
GO
ALTER TABLE [dbo].[ComprobanteRespuestaHistorial]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteRespuestaHistorial_Comprobante] FOREIGN KEY([IdComprobante])
REFERENCES [dbo].[Comprobante] ([IdComprobante])
GO
ALTER TABLE [dbo].[ComprobanteRespuestaHistorial] CHECK CONSTRAINT [FK_ComprobanteRespuestaHistorial_Comprobante]
GO
ALTER TABLE [dbo].[ComprobanteSustentoNota]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteSustentoNota_Comprobante] FOREIGN KEY([IdComprobante])
REFERENCES [dbo].[Comprobante] ([IdComprobante])
GO
ALTER TABLE [dbo].[ComprobanteSustentoNota] CHECK CONSTRAINT [FK_ComprobanteSustentoNota_Comprobante]
GO
ALTER TABLE [dbo].[PendienteEnvio]  WITH CHECK ADD  CONSTRAINT [FK_PendienteEnvio_Comprobante] FOREIGN KEY([IdComprobante])
REFERENCES [dbo].[Comprobante] ([IdComprobante])
GO
ALTER TABLE [dbo].[PendienteEnvio] CHECK CONSTRAINT [FK_PendienteEnvio_Comprobante]
GO
ALTER TABLE [dbo].[RepresentacionImpresa]  WITH CHECK ADD  CONSTRAINT [FK_RepresentacionImpresa_Comprobante] FOREIGN KEY([IdComprobante])
REFERENCES [dbo].[Comprobante] ([IdComprobante])
GO
ALTER TABLE [dbo].[RepresentacionImpresa] CHECK CONSTRAINT [FK_RepresentacionImpresa_Comprobante]
GO

create procedure [dbo].[usp_ComprobantesPendientesDeEnvio]
as
begin
	select e.NumeroDocumentoIdentidad, c.IdComprobante, c.TipoComprobante, c.SerieNumero from PendienteEnvio p
	inner join Comprobante c on p.IdComprobante = c.IdComprobante
	inner join Empresa e on c.IdEmpresa = e.IdEmpresa
	where 
			TipoDocumento = 'CO' 
		and Estado = 1
	order by Prioridad desc
end

GO
/****** Object:  StoredProcedure [dbo].[usp_InsertarCdrPendiente]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_InsertarCdrPendiente]
	@IdComprobante bigint,
	@Archivo varbinary(max)
as
begin
	set nocount on
	begin transaction
	declare @MensajeRetorno VARCHAR(MAX)

	begin try
		insert into CDRSunatPendiente values (@IdComprobante, @Archivo, GETDATE())
		delete from PendienteEnvio where IdComprobante = @IdComprobante
		commit transaction
	end try
	begin catch
		rollback transaction
		set @MensajeRetorno =  error_message()
		raiserror(@MensajeRetorno, 16, 1) 
	end catch
end

GO
CREATE TYPE TypeComprobanteReferenciaNota AS TABLE (	
	[SerieNumero] [varchar](30) NOT NULL,	
	[FechaEmision] [varchar](10) NOT NULL,
	[TipoComprobante] [varchar](2) NOT NULL
)
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertarComprobante]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_InsertarComprobante]
(
	@NroDocumentoIdentidadEmisor varchar(30),
	@TipoDocumentoIdentidad varchar(2),
	@NroDocumentoIdentidad varchar(30),
	@RazonSocial varchar(500),
	@TipoComprobante varchar(2),
	@SerieNumero varchar(13),
	@FechaEmison varchar(10),
	@CorreoElectronico varchar(500),
	@TotalImpuesto decimal(12,2),
	@TotalValorVenta decimal(12,2),
	@TotalPrecioVenta decimal(12,2),
	@TotalDescuento decimal(12,2),
	@TotalCargo decimal(12,2),
	@ImporteTotal decimal(12,2),
	@FechaVencimiento varchar(50),
	@HoraEmision varchar(8),
	@Moneda varchar(5),
	@TipoOperacion varchar(4),
	@NombreXML varchar(50),
	@ArchivoXML varbinary(max),
	@CodigoHash varchar(max),
	@CodigoQR varchar(max),	
	@CodigoTributo1001 varchar(4),
	@MontoOperaciones1001 decimal(12,2),
	@MontoTotalImpuesto1001 decimal(12,2),
	@SerieNumeroDocumentoSustento varchar(30) = '',
	@CodigoAnulacionDocumentoSustento varchar(10) = '',
	@MotivoAnulacionDocumentoSustento varchar(500) = '',
	@ComprobanteReferenciaNota dbo.TypeComprobanteReferenciaNota readonly
)
AS
BEGIN
	
	DECLARE @IdEmpresa INT, @MensajeRetorno VARCHAR(MAX), @IdComprobante BIGINT, @FechaRegistro DATETIME
	SELECT @IdEmpresa = IdEmpresa FROM dbo.Empresa WHERE NumeroDocumentoIdentidad = @NroDocumentoIdentidadEmisor
	
	SET @FechaRegistro = GETDATE()

	BEGIN TRANSACTION

	BEGIN TRY
		IF ISNULL(@IdEmpresa, 0) = 0
		BEGIN
			SET @MensajeRetorno = 'La empresa emisora con número de documento de identidad ' + @NroDocumentoIdentidadEmisor + ' no se encuentra registrada.'
			RAISERROR(@MensajeRetorno, 16, 1) 
		END

		--BEGIN TRY
		--	INSERT INTO dbo.ControlRegistro (IdEmpresa, TipoComprobante, SerieNumero, FechaRegistro)
		--	VALUES (@IdEmpresa, @TipoComprobante, @SerieNumero, GETDATE())
		--END TRY
		--BEGIN CATCH
		--	SET @MensajeRetorno = 'El comprobante ' + @SerieNumero + ' se encuentra en proceso de registro.'
		--	RAISERROR(@MensajeRetorno, 16, 1) 
		--END CATCH

		IF EXISTS (SELECT 1 FROM dbo.Comprobante C WITH(NOLOCK) WHERE C.IdEmpresa = @IdEmpresa AND C.TipoComprobante = @TipoComprobante AND C.SerieNumero = @SerieNumero)
		BEGIN
			SET @MensajeRetorno = 'El comprobante ' + @SerieNumero + ' ya se encuentra registrado en la base de datos.'
			RAISERROR(@MensajeRetorno, 16, 1) 
		END

		INSERT INTO [dbo].[Comprobante]
			([IdEmpresa], [TipoDocumentoIdentidad], [NroDocumentoIdentidad], [RazonSocial], [TipoComprobante], [SerieNumero], [FechaEmison]
			,[CorreoElectronico], [TotalImpuesto], [TotalValorVenta], [TotalPrecioVenta], [TotalDescuento], [TotalCargo], [ImporteTotal]
			,[FechaVencimiento], [HoraEmision], [Moneda], [TipoOperacion], [FechaRegistro])
		VALUES
			(@IdEmpresa, @TipoDocumentoIdentidad, @NroDocumentoIdentidad, @RazonSocial, @TipoComprobante, @SerieNumero, @FechaEmison,
			@CorreoElectronico, @TotalImpuesto, @TotalValorVenta, @TotalPrecioVenta, @TotalDescuento, @TotalCargo, @ImporteTotal,
			@FechaVencimiento, @HoraEmision, @Moneda, @TipoOperacion, @FechaRegistro)

		SET @IdComprobante = SCOPE_IDENTITY()

		INSERT INTO [dbo].[ComprobanteDocumento]
			([IdComprobante], [NombreXML], [ArchivoXML], [CodigoHash], [CodigoQR], [FechaRegistro])
		VALUES
			(@IdComprobante, @NombreXML, @ArchivoXML, @CodigoHash, @CodigoQR, @FechaRegistro)
		
		INSERT INTO PendienteEnvio (IdComprobante, Estado, Prioridad, TipoDocumento, FechaRegistro)
		VALUES (@IdComprobante, 1, 1, 'CO', GETDATE())

		INSERT INTO ComprobanteMontos (IdComprobante, CodigoTributo, MontoOperaciones, MontoTotalImpuesto)
		VALUES (@IdComprobante, @CodigoTributo1001, @MontoOperaciones1001, @MontoTotalImpuesto1001) 

		IF @CodigoAnulacionDocumentoSustento <> ''
		BEGIN
			INSERT INTO ComprobanteSustentoNota (IdComprobante, SerieNumero, MotivoAnulacion, CodigoAnulacion)
			VALUES (@IdComprobante, @SerieNumeroDocumentoSustento, @MotivoAnulacionDocumentoSustento, @CodigoAnulacionDocumentoSustento)
		END

		INSERT INTO ComprobanteReferenciaNota (IdComprobante, SerieNumero, TipoComprobante, FechaEmision)
		SELECT @IdComprobante, SerieNumero, TipoComprobante, FechaEmision FROM @ComprobanteReferenciaNota

		-- DELETE FROM dbo.ControlRegistro WHERE IdEmpresa = @IdEmpresa AND TipoComprobante = @TipoComprobante AND SerieNumero = @SerieNumero
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		-- DELETE FROM dbo.ControlRegistro WHERE IdEmpresa = @IdEmpresa AND TipoComprobante = @TipoComprobante AND SerieNumero = @SerieNumero
		ROLLBACK TRANSACTION
		SET @MensajeRetorno =  ERROR_MESSAGE()
		RAISERROR(@MensajeRetorno, 16, 1) 
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_ListaCDRPendiente]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_ListaCDRPendiente]
as
select IdComprobante,Archivo,FechaRegistro
from CDRSunatPendiente with (nolock)

GO
/****** Object:  StoredProcedure [dbo].[usp_ListaConfiguracion]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_ListaConfiguracion] --'TempCDR'
@codigo varchar(10)
as
select codigo,valor from Configuracion with (nolock)
where codigo=case when len(@codigo)>0 then @codigo else codigo end

GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerArchivoComprobante]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_ObtenerArchivoComprobante]
	@IdComprobante bigint
as
begin
	set nocount on
	select IdComprobante, NombreXML, ArchivoXML from dbo.ComprobanteDocumento
	where IdComprobante = @IdComprobante
end

GO
/****** Object:  StoredProcedure [dbo].[usp_QuitarPendienteEnvio]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_QuitarPendienteEnvio]
	@idComprobante bigint,
	@codigoRespuesta varchar(20)
as
begin
	declare @reintentar int
	select @reintentar = Reintentar from CatalogoErrorSunat where CodigoRespuesta = @codigoRespuesta

	set @reintentar = isnull(@reintentar, 0)
	-- deshabilitamos el reintento
	if @reintentar = 1
	begin 
		update PendienteEnvio set Estado = 0 where IdComprobante = @idComprobante
	end

	select @reintentar Reintentar
end

GO
/****** Object:  StoredProcedure [dbo].[usp_RegistraRespuestaSUNAT]    Script Date: 31/01/2019 00:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_RegistraRespuestaSUNAT]
@CodigoSUNAT varchar(50),
@IdComprobante bigint,
@Archivo varbinary(max),
@Descripcion varchar(max),
@FechaSunat varchar(20),
@HoraSunat varchar(20)
as
/*
Del 0100 al 1999 Excepciones
Del 2000 al 3999 Errores que generan rechazo
Del 4000 en adelante Observaciones
*/
declare @temp table(Id bigint)

declare @IdMax bigint
DECLARE @IdCatalogo bigint
DECLARE @Respuesta bigint
DECLARE @TipoRespuesta bigint
DECLARE @IdTipoRespuesta bigint

 

--registrando un nuevo error
IF not exists(select 1 from CatalogoErrorSunat where codigoRespuesta=@CodigoSUNAT)
BEGIN
   INSERT INTO CatalogoErrorSunat(codigoRespuesta,Descripcion,Reintentar) VALUES(@CodigoSUNAT,@Descripcion,0)
END

SET @IdCatalogo=(select IdCatalogo from CatalogoErrorSunat where codigoRespuesta=@CodigoSUNAT)
--Clasificar el tipo de respuesta
SET @Respuesta=convert(bigint,@CodigoSUNAT)

if (@Respuesta=0)  SET @TipoRespuesta=0
if (@Respuesta>=100 and @Respuesta<=1999)  SET @TipoRespuesta=2
if (@Respuesta>=2000 and @Respuesta<=3999)  SET @TipoRespuesta=1
if (@Respuesta>=4000)  SET @TipoRespuesta=3

SET @IdTipoRespuesta=(select IdTipoRespuesta from TipoRespuesta where Codigo=@Respuesta)

--Registrando la ultima respuesta
if not exists(select 1 from ComprobanteRespuesta where IdComprobante=@IdComprobante)
	BEGIN
       insert into ComprobanteRespuesta(IdComprobante,IdCatalogo,DescripcionSUNAT,IdTipoRespuesta,FechaRegistro,FechaSUNAT,HoraSUNAT)
	   VALUES(@IdComprobante,@IdCatalogo,@Descripcion,@IdTipoRespuesta,GETDATE(),@FechaSunat,@HoraSunat)
	END
ELSE
BEGIN
	update comprobanteRespuesta set IdCatalogo=@IdCatalogo,DescripcionSUNAT=@Descripcion,IdTipoRespuesta=@IdTipoRespuesta,FechaRegistro=GETDATE(),FechaSUNAT=@FechaSunat,HoraSUNAT=@HoraSunat
	where IdComprobante=@IdComprobante    
END
--Registrando el historial de respuesta
insert into CDRSunatProcesado(Archivo,FechaRegistro) OUTPUT INSERTED.IdArchivo into @temp(Id)
values(@Archivo,getdate())

SET @IdMax=(select Id from @temp)

insert into ComprobanteRespuestaHistorial(IdArchivo,IdCatalogo,Descripcion,FechaRespuestaSunat,FechaRegistro,HoraRespuestaSunat,IdComprobante)
values(@IdMax,@IdCatalogo,@Descripcion,@FechaSunat,getdate(),@HoraSunat,@IdComprobante)
--Eliminado de la tabla pendientes
delete from CDRSunatPendiente where IdComprobante=@IdComprobante

GO
